<ion-view view-title="passwordReset">

  <ion-content>

    <form name="resetForm" ng-submit="login.resetPassword(resetForm.$valid)">

      <div class="list">

        <label class="item item-input item-stacked-label">

          <span class="input-label green">Email</span>

          <input type="email"
                 name="userEmail"
                 ng-model="loginData.email"
                 placeholder="Type here"
                 required>
        </label>

      </div>

    </form>

  </ion-content>

</ion-view>
