<ion-view view-title="login">

  <ion-content>

    <form novalidate name="loginForm" ng-submit="login.doLogin(loginForm.$valid)" class="login-form" >
      <div class="list">

        <label class="item item-input item-stacked-label">

          <span class="input-label green">Email</span>

          <input type="email"
                 name="userEmail"
                 ng-model="login.loginData.email"
                 placeholder="Type here"
                 required>
        </label>

        <label class="item item-input item-stacked-label">

          <span class="input-label green">Password</span>

          <input type="password"
                 name="userPassword"
                 ng-model="login.loginData.password"
                 placeholder="Type here"
                 required>
        </label>

      </div>

      <div class="card error center">
        <div class="item item-text-wrap"
             ng-show="login.loginError">
          {{login.loginError}}
        </div>
      </div>

      <div class="center">
        <a class="no-underline green" href="#">Forgot password?</a>
      </div>

      <div class="button-bar submit-button center">

        <input class="button"
               type="submit"
               value="Submit"
               ng-disabled="loginForm.$invalid"/>
      </div>

    </form>

  </ion-content>

</ion-view>
