<ion-view view-title="login">

  <ion-content>

    <form novalidate name="loginForm" ng-submit="signin(loginForm.$valid)" class="login-form" >
      <div class="list">

        <label class="item item-input item-stacked-label">

          <span class="input-label green">Email</span>

          <input type="email"
                 name="userEmail"
                 ng-model="loginData.email"
                 ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                 placeholder="Type here"
                 required />
        </label>

        <label class="item item-input item-stacked-label">

          <span class="input-label green">Password</span>

          <input type="password"
                 name="userPassword"
                 ng-model="loginData.password"
                 ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                 placeholder="Type here"
                 required />
        </label>

      </div>

      <div class="card"
           ng-show="loginError && !loginForm.$pristine">
          <div class="item item-text-wrap error">
            {{loginError}}
          </div>
      </div>

      <div class="center">
        <a class="no-underline green" href="#">Forgot password?</a>
      </div>

      <div class="button-bar submit-button center">
        <button class="button"
               type="submit"
               ng-disabled="loginForm.$invalid">
          Submit
        </button>
      </div>

    </form>

  </ion-content>

</ion-view>
